.element {
    height: 50px;
    width: 50px;
    background-color: orangered;
    transition: 1s ease-in-out;
}

.element:hover {
    transform: translate(100%, 0);
}

/*Below is the C I solution, a bit different to mine!*/

/*.element {*/
/*	background-color: #0997d3;*/
/*	width: 200px;*/
/*	height: 200px;*/
/*	transition: transform 1s ease-in-out;*/
/*}*/

/*.element:hover {*/
/*	transform: translateX(100%);*/
/*}*/